<h1>
  <%= fa_icon "list" %>
  Lista de Productos
</h1>

<%= fa_icon "plus-circle" %>
<%= link_to 'Nuevo Producto', new_store_path %>

<table class="table">
  <tr>
    <thead class="thead-dark">
      <th>
        <%= fa_icon "code" %>
        Código
      </th>
      <th>
        <%= fa_icon "file" %>
        Nombre
      </th>
      <th>
        <%= fa_icon "cubes" %>
        Proveedor
      </th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </tr>
  <% @stores.each do |store| %>
  <tr>
      <td><%= store.cod %></td>
      <td><%= store.nombre %></td>
      <td><%= store.proveedor %></td>


      <td>
      <%= fa_icon "pencil" %>
      <%= link_to "Editar", edit_store_path(store)%>
      </td>
      <td>
        <%= fa_icon "times" %>
        <%= link_to "Eliminar",store, method: :delete, data: { confirm: '¿Desea borrar este articulo?' } %>
      </td>
      <td>
        <%= fa_icon "eye" %>
        <%= link_to "Mostrar", store %>
      </td>

  </tr>
  <% end %>
</table>
