<%= form_for @store do |f| %>
  <div>
    <%= f.label :Código %>
    <%= f.number_field :cod %>
  </div>
  <div>
    <%= f.label :Nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div>
    <%= f.label :Proveedor %>
    <%= f.text_field :proveedor %>
  </div>
  <div>
    <%= f.submit %> |
    <%= fa_icon "reply-all" %>
    <%= link_to 'Atras', stores_path %>
  </div>
<% end %>
